{% extends 'home/layout.html' %}
{% block title %}Smart It Solutions{% endblock %}

{% block slider %}
<section id="slider"
            class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header">
            <div class="slider-inner">
                <div class="swiper-container swiper-parent">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide dark">
                            <div class="container">
                                <div class="slider-caption slider-caption-center">
                                    <h2 data-animate="fadeInUp">
                                        The Best Software Solution Provider!
                                    </h2>
                                    <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
                                        Web Scraper BOT Development Apps Development Web
                                        Development Leads Generation Skip Tracing.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide-bg" style="
                    background-image: url('/static/images/slider/swiper/1.jpg');
                  "></div>
                        </div>
                        <div class="swiper-slide dark">
                            <div class="container">
                                <div class="slider-caption slider-caption-center">
                                    <h2 data-animate="fadeInUp">Beautifully Flexible</h2>
                                    <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
                                        Looks beautiful &amp; ultra-sharp on Retina Screen
                                        Displays. Powerful Layout with Responsive functionality
                                        that can be adapted to any screen size.
                                    </p>
                                </div>
                            </div>
                            <div class="video-wrap">
                                <video id="slide-video" poster="/static/images/videos/deskwork.jpg" preload="auto" loop
                                    autoplay muted>
                                    <source src="/static/images/videos/deskwork.webm" type="video/webm" />
                                    <source src="/static/images/videos/deskwork.mp4" type="video/mp4" />
                                </video>
                                <div class="video-overlay" style="background-color: rgba(0, 0, 0, 0.55)"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="container">
                                <div class="slider-caption">
                                    <h2 data-animate="fadeInUp">Great Performance</h2>
                                    <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
                                        You'll be surprised to see the Final Results of your
                                        Creation &amp; would crave for more.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide-bg" style="
                    background-image: url('/static/images/slider/swiper/3.jpg');
                    background-position: center top;
                  "></div>
                        </div>
                    </div>
                    <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
                    <div class="slider-arrow-right">
                        <i class="icon-angle-right"></i>
                    </div>
                </div>
                <a href="#" data-scrollto="#content" data-offset="100" class="one-page-arrow dark"><i
                        class="icon-angle-down infinite animated fadeInDown"></i></a>
            </div>
        </section>
{% endblock %}
{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container">
        </div>
        <div class="section my-0">
            <div class="container">
                <div class="row mt-4 col-mb-50">
                    <div class="col-lg-4">
                        <i class="i-plain color i-large icon-line2-screen-desktop inline-block"
                            style="margin-bottom: 15px"></i>
                        <div class="heading-block border-bottom-0" style="margin-bottom: 15px">
                            <h4><span style="color: #1abc9c">1000+</span> Customers</h4>
                        </div>
                        <p>
                            We've worked with hundreds of real estate investors across
                            the country!
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <i class="i-plain color i-large icon-line2-energy inline-block"
                            style="margin-bottom: 15px"></i>
                        <div class="heading-block border-bottom-0" style="margin-bottom: 15px">
                            <h4><span style="color: #1abc9c">100%</span> Quality</h4>
                        </div>
                        <p>
                            We've worked with hundreds of real estate investors across
                            the country!
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <i class="i-plain color i-large icon-line2-equalizer inline-block"
                            style="margin-bottom: 15px"></i>
                        <div class="heading-block border-bottom-0" style="margin-bottom: 15px">
                            <h4><span style="color: #1abc9c">100%</span> Accuracy</h4>
                        </div>
                        <p>
                            We've worked with hundreds of real estate investors across
                            the country!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container clearfix">
            <div class="heading-block topmargin-lg center">
                <h4>OUR SERVICES</h4>
                <h2>What We Offer</h2>
            </div>
            <div class="row col-mb-50 mb-4">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box flex-md-row-reverse text-md-end" data-animate="fadeIn">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-heart"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Web Scraper</h3>
                            <button type="button" class="button button-mini">Order Now</button>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt voluptatibus
                                voluptatum.
                            </p>
                        </div>
                    </div>
                    <div class="feature-box flex-md-row-reverse text-md-end mt-5" data-animate="fadeIn"
                        data-delay="200">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-paper"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Web Development</h3>
                            <button type="button" class="button button-mini">Order Now</button>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt voluptatibus
                                voluptatum.
                            </p>
                        </div>
                    </div>
                    <div class="feature-box flex-md-row-reverse text-md-end mt-5" data-animate="fadeIn"
                        data-delay="400">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-layers"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Apps Development</h3>
                            <button type="button" class="button button-mini">Order Now</button>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt voluptatibus
                                voluptatum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-md-none d-lg-block text-center">
                    <img src="/static/images/services/iphone7.png" alt="iphone 2" />
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box" data-animate="fadeIn">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-power"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Bot Development</h3>
                            <button type="button" class="button button-mini">Order Now</button>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt voluptatibus
                                voluptatum.
                            </p>
                        </div>
                    </div>
                    <div class="feature-box mt-5" data-animate="fadeIn" data-delay="200">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-check"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Leads Generation</h3>
                            <button type="button" class="button button-mini">Order Now</button>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt voluptatibus
                                voluptatum.
                            </p>
                        </div>
                    </div>
                    <div class="feature-box mt-5" data-animate="fadeIn" data-delay="400">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-bulb"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Skip Tracing</h3>
                            <button type="button" class="button button-mini">Order Now</button>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt voluptatibus
                                voluptatum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider divider-border divider-center"><i class="icon-email2"></i></div>
        <!-- new section starts  -->
        <div class="section parallax m-0 border-top-0 dark skrollable skrollable-between"
            style="background-image: url(&quot;images/parallax/2.jpg&quot;); padding: 100px 0px; background-position: 0px 40.1309px;"
            data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
            <div class="container clearfix">
                <div class="row gutter-40 col-mb-80">

                    <div class="postcontent col-lg-6">
                        <h3>OUR STATS</h3>
                        <h1>Why Are We The Best Choice?</h1>
                        <p>Whether you’re using any of our service You can rest assure that you are receiving
                            the absolute best service! See for yourself why so many clients love it!</p>
                        <ul class="skills">
                            <li data-percent="95">
                                <span>Product Accuracy</span>
                                <div class="progress skills-animated" style="width: 95%;">
                                    <div class="progress-percent">
                                        <div class="counter counter-inherit counter-instant"><span data-from="0"
                                                data-to="95" data-refresh-interval="30"
                                                data-speed="1100">95</span>%</div>
                                    </div>
                                </div>
                            </li>
                            <li data-percent="95">
                                <span>On Time Delivery</span>
                                <div class="progress skills-animated" style="width: 95%;">
                                    <div class="progress-percent">
                                        <div class="counter counter-inherit counter-instant"><span data-from="0"
                                                data-to="95" data-refresh-interval="30"
                                                data-speed="1100">95</span>%</div>
                                    </div>
                                </div>
                            </li>
                            <li data-percent="95">
                                <span>Customer Satisfaction</span>
                                <div class="progress skills-animated" style="width: 95%;">
                                    <div class="progress-percent">
                                        <div class="counter counter-inherit counter-instant"><span data-from="0"
                                                data-to="95" data-refresh-interval="30"
                                                data-speed="1100">95</span>%</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar col-lg-6 my-auto text-center">
                        <a  class="button button-desc">
                            <div>Start Skip Tracing</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- new section end  -->
        <div class="container clearfix">
            <div class="row col-mb-50 mb-0">

                <div class="heading-block topmargin-lg center">
                    <h4 class="text-center">SERVICES</h4>
                    <h2 class="text-center">Popular Services We Provided</h2>
                </div>
                {% if not username %}
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a  onclick="loginAlert()" ><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Telegram User Dm BOT</h3>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a href="/telegramBot/telegram-user-dmBot-send"><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Telegram User Dm BOT</h3>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if not username %}
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a onclick="loginAlert()"><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Telegram Group DM BOT</h3>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a href="/telegramBot/telegram-dmBot-send"><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Telegram Group DM BOT</h3>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a onclick="comingsoon()"><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Group Discussion</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a onclick="comingsoon()"><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Chat BOT</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a onclick="comingsoon()"><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Alert BOT</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a onclick="comingsoon()"><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Account Generator</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a onclick="comingsoon()"><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Auto Respondent</h3>
                        </div>
                    </div>
                </div>
                {% if not username %}
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a onclick="loginAlert()"><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Users Scrapper</h3>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a href="/telegramBot/users-scrapper-account"><i class="icon-telegram i-alt"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Users Scrapper</h3>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-ebay"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Ebay BOT</h3>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-settings"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Custom BOT</h3>
                        </div>
                    </div>
                </div> -->
                {% if not username %}
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a onclick="loginAlert()"><i class="icon-atom1"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Scrapper BOT</h3>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                        <div class="fbox-icon">
                            <a href="/scrapper/user-dashboard"><i class="icon-atom1"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Scrapper BOT</h3>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="section parallax dark mb-0" style="
      background-image: url('/static/images/services/home-testi-bg.jpg');
      padding: 100px 0;
    " data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
            <div class="heading-block center">
                <h3>What Clients Say?</h3>
            </div>
            <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                <div class="flexslider">
                    <div class="slider-wrap">
                        <div class="slide">
                            <div class="testi-image">
                                <a href="#"><img src="/static/images/testimonials/3.jpg"
                                        alt="Customer Testimonails" /></a>
                            </div>
                            <div class="testi-content">
                                <p>
                                    They manage our blog and social media accounts and produce our brochures. We
                                    saw an immediate increase in our social media presence and our followers
                                    doubled in a month.
                                </p>
                                <div class="testi-meta">
                                    Mark Johnsons
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="testi-image">
                                <a href="#"><img src="/static/images/testimonials/2.jpg"
                                        alt="Customer Testimonails" /></a>
                            </div>
                            <div class="testi-content">
                                <p>
                                    I went in just to see what they had and they were the friendliest people!
                                    They helped me find the perfect book for him and even offered a layaway.
                                </p>
                                <div class="testi-meta">
                                    Alex White
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container clearfix mt-6">
            <div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="60"
                data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xs="2"
                data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">
                <div class="oc-item">
                    <a href="#"><img src="/static/images/clients/1.png" alt="Clients" /></a>
                </div>
                <div class="oc-item">
                    <a href="#"><img src="/static/images/clients/2.png" alt="Clients" /></a>
                </div>
                <div class="oc-item">
                    <a href="#"><img src="/static/images/clients/3.png" alt="Clients" /></a>
                </div>
                <div class="oc-item">
                    <a href="#"><img src="/static/images/clients/4.png" alt="Clients" /></a>
                </div>
                <div class="oc-item">
                    <a href="#"><img src="/static/images/clients/5.png" alt="Clients" /></a>
                </div>
                <div class="oc-item">
                    <a href="#"><img src="/static/images/clients/6.png" alt="Clients" /></a>
                </div>
                <div class="oc-item">
                    <a href="#"><img src="/static/images/clients/7.png" alt="Clients" /></a>
                </div>
                <div class="oc-item">
                    <a href="#"><img src="/static/images/clients/8.png" alt="Clients" /></a>
                </div>
                <div class="oc-item">
                    <a href="#"><img src="/static/images/clients/9.png" alt="Clients" /></a>
                </div>
                <div class="oc-item">
                    <a href="#"><img src="/static/images/clients/10.png" alt="Clients" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function loginAlert() {
      alert("Login First to continue!");
    }
    function comingsoon(){
        alert("Coming Soon!")
    }
    </script>
{% endblock %}